In [2]:
import numpy as np
import pandas as pd

import seaborn as sns

In [3]:
covid=pd.read_csv("covid.csv")

In [4]:
covid.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-22      Albania          0          0       0
2  2020-01-22      Algeria          0          0       0
3  2020-01-22      Andorra          0          0       0
4  2020-01-22       Angola          0          0       0

In [5]:
covid.tail()

             Date             Country  Confirmed  Recovered  Deaths
23683  2020-05-26  West Bank and Gaza        429        365       3
23684  2020-05-26      Western Sahara          9          6       1
23685  2020-05-26               Yemen        249         10      49
23686  2020-05-26              Zambia        920        336       7
23687  2020-05-26            Zimbabwe         56         25       4

In [18]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23688 entries, 0 to 23687
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23688 non-null  object
 1   Country    23688 non-null  object
 2   Confirmed  23688 non-null  int64
 3   Recovered  23688 non-null  int64
 4   Deaths     23688 non-null  int64
dtypes: int64(3), object(2)
memory usage: 925.4+ KB

In [6]:
covid.set_index('Date')

                       Country  Confirmed  Recovered  Deaths
Date
2020-01-22         Afghanistan          0          0       0
2020-01-22             Albania          0          0       0
2020-01-22             Algeria          0          0       0
2020-01-22             Andorra          0          0       0
2020-01-22              Angola          0          0       0
...                        ...        ...        ...     ...
2020-05-26  West Bank and Gaza        429        365       3
2020-05-26      Western Sahara          9          6       1
2020-05-26               Yemen        249         10      49
2020-05-26              Zambia        920        336       7
2020-05-26            Zimbabwe         56         25       4

[23688 rows x 4 columns]

In [14]:
data=covid.groupby('Country')['Confirmed'].sum().sort_values(ascending=False)

In [15]:
print("Country with higest covid confirmed cases:")
data.head(1)

Country with higest covid confirmed cases:

Country
US    57098767
Name: Confirmed, dtype: int64

In [16]:
print("Country with lowest covid confirmed cases:")
data.tail(1)

Country with lowest covid confirmed cases:

Country
Lesotho    19
Name: Confirmed, dtype: int64

In [13]:
covid.groupby('Country')['Recovered'].sum().sort_values(ascending=False)

Country
US             8428678
China          6776464
Germany        6102898
Spain          5770271
Italy          4354815
                ...
Holy See            98
Yemen               92
South Sudan         73
MS Zaandam           0
Lesotho              0
Name: Recovered, Length: 188, dtype: int64

#### Highest Recovered is from US

In [17]:
covid.groupby('Country')['Deaths'].sum().sort_values(ascending=False)

Country
US                                  3221969
Italy                               1568276
United Kingdom                      1329006
Spain                               1302010
France                              1209634
                                     ...
Saint Vincent and the Grenadines          0
Fiji                                      0
Mongolia                                  0
Eritrea                                   0
Seychelles                                0
Name: Deaths, Length: 188, dtype: int64

Highest Death is from US